body{

    background-color: LightGray;
}

#cadastrar{
    display: none;
    margin-top:5%; 
}

#login{
     margin-top:5%; 

}
.Form{
    padding:5% 10% 5% 10%;

}
#cadastrarEmail{
  display: none;
}
.cores{
    width: 15px;
    height: 15px;
    border: 1px solid white;
    margin: 1%;
}
#logo{
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: rgb(68, 65, 65);
    font-size: xx-large;
}
#barra{
    background-color: gray;
    font-family: 'Lobster', cursive;
    font-size: x-large;
}

#cor1{
    background-color: tomato;
}
#cor2{
    background-color: orange;
}
#cor3{
    background-color: dodgerblue;
}
#cor4{
    background-color: mediumseagreen;
}

#cor5{
    background-color: gray;
}
#cor6{
    background-color: slateblue;
}
#cor7{
    background-color: violet;
}
#cor8{
    background-color: lightgray;
}
#alertSenha{
    display: none;
}

#alertLogin{
    display: none;
}
#titulo{
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: xx-large;
    text-align: center;
}

#subtitulo{
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: large;
    text-align: center;
}
#boasvindas{
    margin-top: 10%;
}
.botoesIncial{
  padding-left: 5%;
  padding-right:5%;
  margin: 15% 15% 15% 15%;
}

@media only screen and (max-width: 600px) {
   #titulo {
        font-size: x-large;
        text-align: center;
    }
    #subtitulo{
        font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: small;
        text-align: center;
    }
}